<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--
    <div id="app">
        <h1>Mi nombre es: {{nombre}} </h1>
        <input type="text" v-model="nombre" placeholder="Nombre" >
        <input type="text" v-model="apellido" placeholder="apellido" >
        <button @click="agregar()">Guardar</button>
        
        <li v-for="item in user">
            {{ item.nombre }} {{item.apellido}}
        </li>
        <br><br><br><br>
        
        <button @click="count++">Count is: {{ count }}</button>

        <br><br><br><br>
        <input @keyup="suma=num1+num2" type="number" v-model="num1" placeholder="Numero 1" >
        <input @keyup="suma=num1+num2" type="number" v-model="num2" placeholder="Numero 2" >
        <p>La suma es: {{suma}}</p>


    -->

    <div id="app">
        <h1>LOGIN Vue</h1>
        <form @submit.prevent="onsubmit" v-if="!acceso">
            <fieldset>
                <label>Correo</label>
                <input type="email" v-model="email" placeholder="Escribe tu correo" required name=""> 
            </fieldset>
            <fieldset>
                <label>Contraseña</label>
                <input type="password" v-model="password" placeholder="Escribe tu contraseña" required name="" >
            </fieldset>
            <button type="submit">
                Acceder
            </button>
        </form>
        
    
        <div v-if="acceso">
            <h2>Acceso concedido. Bienvenido {{ usuarioSesion.name }}!</h2>
            <async-user-list/>
        </div>
    
        <div v-if="errorAcceso">
            <h2>Error: Correo o contraseña incorrectos</h2>
        </div>
    </div>
    
    <script>
        const { createApp, ref, defineAsyncComponent } = Vue;
    
        // Componente asíncrono para cargar la lista de usuarios
        const asyncUserList = defineAsyncComponent(() => {
            return fetch('users.JSON')
                .then(res => res.json())
                .then(data => {
                    return {
                        template: `
                            <div>
                                <h3>Lista de Usuarios:</h3>                               
                                <button @click="toggleForm">
                                    {{ showForm ? 'Ocultar Formulario' : 'Agregar Usuario' }}
                                </button>
                                <table border="1">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>phone</th>
                                            <th>website</th>
                                            <th>accions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user in users" :key="user.id">
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user.website }}</td>
                                            <td>
                                                <button>Editar</button>
                                                <button>Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <form v-if="showForm" @submit.prevent="addUser">
                                <fieldset>
                                    <label>Nombre:</label>
                                    <input v-model="newUser.name" required>
                                </fieldset>
                                <fieldset>
                                    <label>Correo:</label>
                                    <input v-model="newUser.email" type="email" required>
                                </fieldset>
                                <fieldset>
                                    <label>Teléfono:</label>
                                    <input v-model="newUser.phone" required>
                                </fieldset>
                                <fieldset>
                                    <label>Sitio Web:</label>
                                    <input v-model="newUser.website" required>
                                </fieldset>
                                <button type="submit">Guardar Usuario</button>
                                </form>
                            </div>
                        `,
                        data() {
                            return {
                                users: data,
                                newUser: {
                                    id: null,
                                    name: '',
                                    email: '',
                                    phone: '',
                                    website: ''
                                },
                                showForm: false
                            }
                            
                        },
                        methods: {
                            toggleForm() {
                                this.showForm = !this.showForm; 
                            },
                            addUser() {
                                if (this.newUser.name && this.newUser.email && this.newUser.phone && this.newUser.website) {
                                    // Obtener el ID máximo actual
                                    const maxId = this.users.reduce((max, user) => (user.id > max ? user.id : max), 0);
                                    
                                    // Asignar un nuevo ID único
                                    this.newUser.id = maxId + 1;
                                    
                                    // Agregar el nuevo usuario a la lista
                                    this.users.push({ ...this.newUser }); // Crear una copia del nuevo usuario
                                    
                                    // Limpiar el formulario
                                    this.newUser = { id: null, name: '', email: '', phone: '', website: '' };
                                }
                            } 
                        }
                    }
                })

        });
    
        createApp({
            components: {asyncUserList},
            setup() {
                let email = ref('');
                let password = ref('');
                let acceso = ref(false);
                let errorAcceso = ref(false);
                let usuarioSesion = ref(null);
    
                return {
                    email,
                    password,
                    acceso,
                    errorAcceso,
                    usuarioSesion
                }
            },
            methods: {
                onsubmit() {
                    fetch('users.JSON')
                        .then(res => res.json())
                        .then(data => {
                            const usuarioValido = data.find(user => user.email === this.email && user.password === this.password);
    
                            if (usuarioValido) {
                                this.acceso = true;
                                this.errorAcceso = false;
    
                                // Guardar usuario en la sesión
                                sessionStorage.setItem('usuarioSesion', JSON.stringify(usuarioValido));
                                this.usuarioSesion = usuarioValido;
    
                            } else {
                                this.errorAcceso = true;
                                this.acceso = false;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            this.errorAcceso = true;
                        });
                    }
                },
                mounted() {
                    const usuarioGuardado = sessionStorage.getItem('usuarioSesion');
                    if (usuarioGuardado) {
                        this.usuarioSesion = JSON.parse(usuarioGuardado);
                        this.acceso = true;
                    }
                }
        }).mount('#app');


        /*createApp({
            setup() {
                const nombre = ref('')
                const apellido = ref('')
                const num1 = ref(0);
                const num2 = ref(0);
                const suma = ref(0);
                const count = ref(0);
                const user = ref([
                   {
                    "nombre":"test",
                    "apellido":"test"
                   }
                ])
        
                return {
                    nombre,
                    apellido,
                    count,
                    num1,
                    num2,
                    suma,
                    user
                }
            },
            methods:{
                agregar(){
                    let tmp = {
                        "nombre":this.nombre,
                        "apellido" :this.apellido
                    }
                    this.user.push(tmp);
                }
            }
        }).mount('#app')*/
    </script>


</body>
</html>